$default-font: "roboto-example", sans-serif;
$white: #ffffff;
$pale-grey: #f3f6fb;
$dark-indigo: #250651;
$dusk: #4b4660;
$indigo: #440098;
$azul: #3472de;
$azul-two: #3674de;
$white-two: #fefefe;
$soft-blue: #4ea5ff;
$dark-grey-blue: #3f2860;
$soft-blue-two: #4ca4ff;