@import "vars";
@import "fonts";
@import "template/extand";
@import "component/extand";
@import "pages/about/about-page";
@import "pages/service/service-page";
@import "pages/products/products-page";
@import "pages/product/product-page";

html {
  font-size: 18px;

  @media (max-width: 991px) {
    font-size: 17px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: $default-font, sans-serif;
  overflow-x: hidden;
  padding: 20px;

  @media (max-width: 568px) {
    padding: 20px 0 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.breadcrumbs {
  background-color: $pale-grey;
  padding: 16px 0;
}

#breadcrumbs {
  font-family: ProximaNova;
  font-size: 13px;
  font-weight: 300;
  color: #000;

  > span {
    > span {
      > span {
        color: $azul;
      }
    }
  }

  a {
    color: #000;
    text-decoration: none;
  }
}
