.partner {
  padding: 5rem 0;
  background: url(../../../../../img/1.jpg);
  text-align: center;
  color: $white;
  font-family: "ProximaNova-Light", sans-serif;
  font-size: 1.1111rem;
  font-weight: 300;
  line-height: 1.8;

  p {
    margin-bottom: 50px;
  }

  .site-title {
    margin-bottom: 3.9444rem;
  }
}
