.content {
  background-color: $pale-grey;
  padding: 4.5rem 0;

  &__text {
    font-family: "ProximaNova-Light", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.83;
    text-align: center;
    color: $dusk;
  }

  &__item {
    text-align: center;
    font-family: ProximaNova;
    font-size: 1.0556rem;
    line-height: 1.37;
    text-align: center;
    margin-bottom: 30px;

    a {
      color: $azul-two;
    }
  }

  &__image {
    position: relative;
    margin: 0 auto 59px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    .bg {
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 211px;
      height: 217px;
      background-image: linear-gradient(to top, #dfebff, $white);
      box-shadow: 0 19px 50px 0 rgba(#3571d9, 0.19);
      border-radius: 24.8px;
    }

    img {
      z-index: 2;
      position: relative;
      max-width: 168px;
      max-height: 242px;
    }
  }
}
