.site-title {
  font-family: ProximaNovaT;
  font-size: 2.6667rem;
  font-weight: 100;
  color: $white-two;
  line-height: normal;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 991px) {
    font-size: 2.3rem;
  }

  &.line {
    &::after {
      display: block;
      content: "";
      max-width: 377px;
      height: 3px;
      background-color: $soft-blue-two;
      margin: 20px auto 0;
    }
  }

  &.line-left {
    border-left: 3px solid $soft-blue-two;
  }
}
