.site-button {
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 300;
  color: $white;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid $azul-two;
  background-color: $azul-two;
  padding: 14px 53px;
  text-transform: uppercase;
  box-shadow: 0px 10px 80px rgba($azul-two,.6);

  &:hover {
    background-color: $azul-button;
  }
}